// @use 'themes';

// @use '@nebular/theme/styles/globals';

// @include nb-install() {
//   @include nb-theme-global();
// }

// this is our just created themes.scss file, make sure the path to the file is correct
@use 'themes' as *;

// framework component styles
@use '@nebular/theme/styles/globals' as *;

// install the framework styles
@include nb-install() {
  @include nb-theme-global();
}

body {
  font-family: "Roboto", sans-serif;
}

.row>.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
